<div class = "row">
<div class ="product-layout col-sm-6">{{content_one}}</div>
<div class ="product-layout col-sm-3">{{content_two}}</div>
<div class ="product-layout col-sm-3">
<div class ="product-layout col-sm-12">{{content_thr}}</div>
<div class ="product-layout col-sm-12">{{content_four}}</div>
</div>
</div>